In [88]:
import pandas as pd
import numpy as np

In [89]:
arr = []
for i in range(10):
    data = np.random.random(size=5)
    arr.append(data)
df = pd.DataFrame(arr)

In [90]:
df['mean'] = 0.0
for i in range(df.shape[0]):
    summ = 0.0
    cnt = 0
    for j in range(df.shape[1] - 1):
        if df.iloc[i, j] > 0.3:
            summ += df.iloc[i, j]
            cnt += 1
    if cnt != 0:
        df.iloc[i,5] = summ / cnt
    
df

          0         1         2         3         4      mean
0  0.864732  0.952130  0.722551  0.077298  0.717529  0.814236
1  0.357797  0.871212  0.098688  0.019235  0.134457  0.614504
2  0.159862  0.660202  0.626107  0.115604  0.359285  0.548531
3  0.611821  0.217591  0.285623  0.307634  0.906431  0.608629
4  0.562189  0.120356  0.443716  0.712226  0.295297  0.572710
5  0.232833  0.828293  0.606943  0.841874  0.698933  0.744011
6  0.638739  0.597970  0.307980  0.591935  0.034294  0.534156
7  0.166651  0.120123  0.403106  0.508657  0.437166  0.449643
8  0.019842  0.628816  0.444235  0.290304  0.589927  0.554326
9  0.613242  0.002479  0.799076  0.444592  0.122075  0.618970

In [91]:
df = pd.DataFrame(np.random.random((10, 5)))
mask = df > 0.3
df['mean'] = df.where(mask).mean(axis=1).fillna(0.0)
df

          0         1         2         3         4      mean
0  0.407638  0.427323  0.840643  0.927604  0.012870  0.650802
1  0.018257  0.609811  0.910473  0.458232  0.358856  0.584343
2  0.801384  0.833251  0.554716  0.423439  0.666164  0.655791
3  0.089526  0.713038  0.868795  0.051171  0.166995  0.790917
4  0.241687  0.967130  0.908355  0.876292  0.098191  0.917259
5  0.406500  0.944810  0.151357  0.036266  0.371384  0.574232
6  0.962947  0.625721  0.602446  0.205644  0.997407  0.797130
7  0.866303  0.547849  0.651568  0.310329  0.845079  0.644226
8  0.754553  0.414305  0.095640  0.382682  0.158748  0.517180
9  0.231414  0.021311  0.989042  0.874745  0.154447  0.931893